<!DOCTYPE html>
<html lang="ko">
	<head>
		<!--Requird meta tags-->
		<meta charset="utf-8">
		<title>제목</title>
		<meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit-no">
		<!--Bootstrap CSS-->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	</head>
	<body>
		
		<!--네이게이션바-->
		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		<!-- 기본템플릿안에 삽입될 내용 start-->
		<th:block layout:fragment="content"></th:block>
		<!-- 기본템플릿안에 삽입될 내용 end-->
		<!--Bootstrap JS-->
		<script th:src="@{/bootstrap.min.js}"></script>
		
		<!-- 자바스크립트 start-->
		<th:block layout:fragment="script"></th:block>
		<!-- 자바스크립트 end-->
	</body>
</html>